button {
    max-width: 250px;
    margin: 5px;
}

input {
    max-width: 250px;
    margin: 5px;
}

.form-field-wrapper {
    font-size: 12px;
    margin-left: auto;
    margin-right: 0;
}

.right-side-button {
    margin-left: auto;
    margin-right: 5;
}

mat-form-field {
    margin: 5px;
}
